[Unit]
DefaultDependencies=no
Conflicts=shutdown.target
Before=shutdown.target
Requires=dev-disk-by\x2dlabel-TOKEN.device

[Service]
ExecStart=/usr/local/bin/remdev-password-agent -d /dev/disk/by-label/TOKEN -t vfat -f password.txt
